# Extensions to add to a certificate request
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = ip6-localhost
DNS.3 = server
DNS.4 = server1
DNS.5 = server2
DNS.6 = nginx
IP.1 = 127.0.0.1
IP.2 = ::1
IP.3 = 0.0.0.0
